@import "tailwindcss"

* {
    margin: 0;
    padding: 0;
}

/* shared styles */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


/* main styles */

/* banner section styles */
.hero-banner {
    background-image: url('../images/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-new {
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
}

/* footer section styles */
footer {
    background-image: url('../images/footer-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}





/* responsive styles */

/* small device styles */
@media screen and (max-width: 576px) {

    .navbar,
    .about-info,
    .why-choose,
    .featured-episodes,
    .meet-host,
    footer {
        padding: 0 20px;
    }

    .menu {
        display: none;
    }

    .hamburger {
        display: inline;
    }

    .banner-logo {
        width: 200px;
        height: 200px;
    }

    .banner-logo-circle {
        width: 200px;
        height: 200px;
    }

    .banner-logo-mic {
        width: 67px;
        height: 100px;
        margin: 0 auto;
        top: 50px;
        left: 66.5px;
    }

    .btn-new {
        padding: 4px 8px;
        top: 3px;
        right: 3px;
    }

    .hero-banner,
    .statistics,
    .why-choose-cards {
        padding-bottom: 40px;

    }

    hr {
        width: 95%;
    }

    .statistics {
        grid-template-columns: repeat(2, 1fr);
        width: 95%;
    }

    .why-choose h1,
    .featured-episodes h1,
    .meet-host h1 {
        padding-top: 40px;
        font-size: 32px;
    }

    .why-choose-cards,
    .episodes {
        grid-template-columns: repeat(1, 1fr);
    }

    .why-choose-cards div {
        padding: 24px;
        grid-row: span 1;
        grid-column: span 1;
    }

    .episodes div,
    .episodes div iframe {
        width: 100%;
    }

    .meet-host {
        padding-bottom: 40px;
    }

    .host {
        flex-direction: column;
        width: 100%;
    }

    .host-info {
        text-align: center;
    }

    .host-links {
        justify-content: center;
    }

    footer {
        padding: 40px 0;
    }

    .footer-logo {
        font-size: 3rem;
    }

    .footer-links {
        white-space: nowrap;
        width: 360px;
        gap: 16px;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-bottom: 24px;
    }
}


/* medium device styles */
@media screen and (min-width: 576px) and (max-width:992px) {

    .navbar,
    .about-info,
    .why-choose,
    .featured-episodes,
    .meet-host,
    footer {
        padding: 0 20px;
    }

    .menu {
        display: none;
    }

    .hamburger {
        display: inline;
    }

    hr {
        width: 95%;
    }

    .statistics,
    .why-choose-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .why-choose-cards div {
        padding: 24px;
        grid-row: span 1;
        grid-column: span 1;
    }

    .episodes {
        grid-template-columns: repeat(1, 1fr);
    }

    .episodes div,
    .episodes div iframe {
        width: 100%;
    }

    .meet-host {
        padding-bottom: 120px;
    }

    .host {
        flex-direction: column;
        width: 100%;
    }

    .host-info {
        text-align: center;
    }

    .host-links {
        justify-content: center;
    }

    footer {
        padding: 40px 0;
    }

    .footer-links {
        white-space: nowrap;
        width: 360px;
        gap: 40px;
        flex-wrap: wrap;
        margin: 24px auto;
    }
}