@import "tailwindcss"

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* main styles */

/* banner section styles */
.hero-banner {
    background-image: url('../images/hero-bg.png');
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-new {
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
}





/* responsive styles */
@media screen and (max-width: 576px) {

    .navbar,
    .why-choose,
    .featured-episodes,
    .meet-host {
        padding: 0 20px;
    }

    .menu {
        display: none;
    }

    .humburger {
        display: inline;
    }

    .hero-banner,
    .statistics,
    .why-choose-cards {
        padding-bottom: 40px;

    }

    .about-info,
    hr {
        width: 95%;
    }

    .statistics {
        grid-template-columns: repeat(2, 1fr);
        width: 95%;
    }

    .why-choose h1,
    .featured-episodes h1,
    .meet-host h1 {
        padding-top: 40px;
        font-size: 32px;
    }

    .why-choose-cards,
    .episodes {
        grid-template-columns: repeat(1, 1fr);
    }

    .why-choose-cards div {
        padding: 24px;
        grid-row: span 1;
        grid-column: span 1;
    }

    .episodes div,
    .episodes div iframe {
        width: 100%;
    }

    .meet-host {
        padding-bottom: 40px;
    }

    .host {
        flex-direction: column;
        width: 100%;
    }

    .host-info {
        text-align: center;
    }

    .host-links {
        justify-content: center;
    }
}

@media screen and (min-width: 576px) and (max-width:992px) {

    .navbar,
    .why-choose,
    .featured-episodes,
    .meet-host {
        padding: 0 20px;
    }

    .menu {
        display: none;
    }

    .humburger {
        display: inline;
    }

    .about-info,
    hr {
        width: 95%;
    }

    .statistics,
    .why-choose-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .why-choose-cards div {
        padding: 24px;
        grid-row: span 1;
        grid-column: span 1;
    }

    .episodes {
        grid-template-columns: repeat(1, 1fr);
    }

    .episodes div,
    .episodes div iframe {
        width: 100%;
    }

    .meet-host {
        padding-bottom: 120px;
    }

    .host {
        flex-direction: column;
        width: 100%;
    }

    .host-info {
        text-align: center;
    }

    .host-links {
        justify-content: center;
    }
}