@import "tailwindcss"

* {
    margin: 0;
    padding: 0;
}

/* shared styles */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* main styles */

/* banner section styles */
.hero-banner {
    background-image: url('../images/hero-bg.png');
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-new {
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
}





/* responsive styles */
@media screen and (max-width: 576px) {
    .navbar {
        padding: 0 20px;
    }

    .menu {
        display: none;
    }

    .humburger {
        display: inline;
    }

    .about-info,
    hr {
        width: 95%;
    }

    .statistics {
        grid-template-columns: repeat(2, 1fr);
    }

    .statistics {
        padding-bottom: 40px;
        width: 95%;
    }

    .why-choose {
        padding: 0 20px;
    }

    .why-choose h1 {
        padding-top: 40px;
    }

    .why-choose-cards {
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .why-choose-cards div {
        padding: 24px;
        grid-row: span 1;
        grid-column: span 1;
    }
}

@media screen and (min-width: 576px) and (max-width:992px) {
    .navbar {
        padding: 0 20px;
    }

    .menu {
        display: none;
    }

    .humburger {
        display: inline;
    }

    .about-info,
    hr {
        width: 95%;
    }

    .statistics {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 40px;

    }

    .why-choose {
        padding: 0 20px;
    }

    .why-choose-cards {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .why-choose-cards div {
        padding: 24px;
        grid-row: span 1;
        grid-column: span 1;
    }
}